<!DOCTYPE html>
<html lang="fr-fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/acceuil.css')}}">
    <title>Carte</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="{{url_for('acceuil')}}"><li>Home</li></a>
                {% if connect == True %}
                    <a href="{{url_for('creat_new_vote')}}"><li>Crée un vote</li></a>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="alert" role="alert">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
              <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </div>
    <div class="page">
        {% block page %}
        {% endblock %}
    </div>
</body>
</html>